<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Task</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title</label>
      <input required type="text" id="title" name="title" [(ngModel)]="newTask().title" name="title" />
    </p>

    <p>
      <label for="summary">Summary</label>
      <textarea required id="summary" rows="5" [(ngModel)]="newTask().summary" name="summary"></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <input type="date" [(ngModel)]="newTask().dueDate" id="due-date" name="due-date" />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>